<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")*@
    @Styles.Render("~/css/styles")
    @Styles.Render("~/bundles/muicss")

</head>
<body style="width:100%;height:100vh;">
    <section class="mainPage">
        <div class="operator"></div>
        <div class="state"></div>
        <div class="mainEffect"></div>
        
    </section>
    <section class="mainPage mainPageSec2">
        @RenderBody()
    </section>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/script")
        @Scripts.Render("~/bundles/muijs")
        @*@Scripts.Render("~/bundles/angular")*@
        @RenderSection("scripts", required: false)
</body>
</html>
