@model AOS.Models.RegisterContactViewModel
@{
    ViewBag.Title = "Register";
}
<div class="signInWide signIn">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "mui-form", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="logo"></div>
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="mui-panel mui-container-fluid">
            <div class="mui-row">

                <div class="mui-select mui-col-md-6">
                    @Html.DropDownListFor(m => m.Type, new SelectList(ViewBag.userTypes, "Value", "Text"), "Specify Your Account Type *", new { @class = "" })
                    @Html.ValidationMessageFor(m => m.Type, "", new { @class = "text-danger" })
                </div>
                <div class="mui-textfield--float-label mui-textfield mui-col-md-6">
                    @Html.TextBoxFor(m => m.OrganizationName, new { @class = "mdl-textfield__input" })
                    @Html.LabelFor(m => m.OrganizationName)
                    @Html.ValidationMessageFor(m => m.OrganizationName, "", new { @class = "text-danger" })
                </div>
                <div class="mui-select mui-col-md-6">
                    @Html.DropDownListFor(m => m.Country, new SelectList(ViewBag.Countries, "Value", "Text"), "State *", new { @class = "" })
                    @Html.ValidationMessageFor(m => m.Country, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
            <div class="mui-panel mui-container-fluid">
                <div class="mui-row">
                    @*style="display:flex;"*@
                    <div class="mui-select mui-col-md-2" @*style="display:inline-block; width:40px; margin-right:20px;"*@>
                        @Html.DropDownListFor(m => m.Title, new SelectList(ViewBag.Titles, "Value", "Text"), " ", new { @class = "" })
                        @Html.LabelFor(m => m.Title)
                        @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                    </div>
                    <div class="mui-textfield--float-label mui-textfield mui-col-md-5" @*style="display:inline-block; margin-right:20px;"*@>
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "mdl-textfield__input" })
                        @Html.LabelFor(m => m.FirstName)
                        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                    </div>
                    <div class="mui-textfield--float-label mui-textfield mui-col-md-5">
                        @Html.TextBoxFor(m => m.SecondName, new { @class = "mdl-textfield__input" })
                        @Html.LabelFor(m => m.SecondName)
                        @Html.ValidationMessageFor(m => m.SecondName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="mui-row">
                    <div class="mui-select mui-col-md-6">
                        @Html.DropDownListFor(m => m.Language, new SelectList(ViewBag.Languages, "Value", "Text"), "Language *", new { @class = "" })
                        @Html.ValidationMessageFor(m => m.Language, "", new { @class = "text-danger" })
                    </div>
                    <div class="mui-textfield--float-label mui-textfield mui-col-md-6">
                        @Html.TextBoxFor(m => m.JobTitle, new { @class = "mdl-textfield__input" })
                        @Html.LabelFor(m => m.JobTitle)
                        @Html.ValidationMessageFor(m => m.JobTitle, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="mui-panel mui-container-fluid">
                <div class="mui-row">
                    <div class="mui-textfield--float-label mui-textfield mui-col-md-12">
                        @Html.TextBoxFor(m => m.Address, new { @class = "mdl-textfield__input" })
                        @Html.LabelFor(m => m.Address)
                        @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                    </div>
                    <div class="mui-textfield--float-label mui-textfield mui-col-md-6">
                        @Html.TextBoxFor(m => m.City, new { @class = "mdl-textfield__input" })
                        @Html.LabelFor(m => m.City)
                        @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })
                    </div>
                    <div class="mui-textfield--float-label mui-textfield mui-col-md-6">
                        @Html.TextBoxFor(m => m.PostalCode, new { @class = "mdl-textfield__input" })
                        @Html.LabelFor(m => m.PostalCode)
                        @Html.ValidationMessageFor(m => m.PostalCode, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="mui-panel mui-container-fluid">
                <div class="signAction">
                    <button type="submit" class="mui-btn mui-btn--raised mui-btn--primary">Register</button>
                </div>
            </div>
            <p style="margin: 10px 0 0;">
                @Html.ActionLink("Sign into existing account", "Login")
            </p>
            }
        </div>
    @*<form>
            <div class="logo"></div>
            <div class="group">
                @Html.TextBoxFor(m => m.Email, new { @class = "" })
                <span class="highlight"></span><span class="bar"></span>
                <label>Email</label>
            </div>
            <div class="group">
                <input type="password"><span class="highlight"></span><span class="bar"></span>
                <label>Password</label>
            </div>
            <div class="group">
                @Html.DropDownListFor(m => m.Type, new SelectList(ViewBag.userTypes, "Value", "Text"), "  -----Select List-----  ")
                <span class="highlight"></span><span class="bar"></span>
                <label>State or Operator?</label>
            </div>
            <button type="button" class="button buttonBlue">
                Login
                <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
            </button>
            <a href=""><span>Register</span></a>
        </form>*@

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
