@model AOS.Models.NewRegisterViewModel

@{
    ViewBag.Title = "Register";
}
<div class="signIn">
    @using (Html.BeginForm("RegisterFinal", "Account", FormMethod.Post, new { @class = "mui-form", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="logo"></div>
        @*<h2>Plase provide additional contact data</h2>*@
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @*@Html.HiddenFor(x => x.HiddenPostBack)
        @Html.HiddenFor(x => x.HiddenPostBack)
        @Html.HiddenFor(x => x.HiddenPostBack)
        @Html.HiddenFor(x => x.HiddenPostBack)*@
        <div class="panelmui-panel mui-container-fluid">
            <div class="mui-textfield--float-label mui-textfield">
                @Html.TextBoxFor(m => m.Email, new { @class = "mdl-textfield__input" })
                @*<input class="mdl-textfield__input" type="text" id="sample1">*@
                @Html.LabelFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="mui-textfield--float-label mui-textfield">
                @Html.TextBoxFor(m => m.Password, new { @class = "mdl-textfield__input", @type = "password" })
                @*<input class="mdl-textfield__input" type="text" id="sample1">*@
                @Html.LabelFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <div class="mui-textfield--float-label mui-textfield">
                @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "mdl-textfield__input", @type = "password" })
                @*<input class="mdl-textfield__input" type="text" id="sample1">*@
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
            <div class="signAction">
                <button type="submit" class="mui-btn mui-btn--raised mui-btn--primary">Register</button>
            </div>
        </div>
        <p style="margin: 10px 0 0;">
            @Html.ActionLink("Sign into existing account", "Login")
        </p>
    }
</div>
